@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark: #141414;
  --animate-fade-in: fade-in 0.5s ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
